// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2 {
	text-align: center;
}

h1 {
	font-size: 3em;
	text-align: center;
	font-family: Futura, Helvetica , Arial, sans-serif;
	margin-top: 8em;
	padding-top: 2em;
}

nav {
	padding: 5px 10px 5px;
	font-family: Futura, Helvetica, Arial, sans-serif;
	font-size: 1em;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1;
	background-color: black;
	color: white;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  margin-bottom: 1em;
  padding: 1em;
  text-align: center;
}

p {
	text-align: center;
}
